<p>Bannable Users</p>
<ul>
<% @users.each do |user|%>
  <li><%= user.id%><%= " - " %><%= user.username %><%= user.address %></li>
  <form action="/user/<%=user.id%>/ban" method="post">
    <label>Ban User</label>
    <button type="submit" id="ban-button">Submit</button>
  </form>

<% end %>

<br>
<hr>
<br>

<p>Banned Users</p>
<% @exiles.each do |exile|%>
  <li><%= exile.id%><%= " - " %><%= exile.username %><%= exile.address %></li>
<% end %>
<%= @variable %>
</ul>
